name: Pypi upload

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

env:
  TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Update Metadata
        run: |
          echo {{env.PYPI_USERNAME}}
          sed -i "s/BUILD_VERSION/${{ github.run_number }}/g" pyproject.toml
          python --version
          pip install build
          pip install twine

      - name: PIP Package Build
        run: |
          python -m build --sdist .
          python -m build --wheel .
          ls -la dist
          python -m twine upload dist/*